BRIDGE_HOST=127.0.0.1
BRIDGE_PORT=9911
BRIDGE_TOKEN=BridgeSecretToken

KUMA_URL=https://my.kuma.url # If you are using docker, Use the Docker service name if kuma is on the same compose network e.g. http://uptime-kuma:3001
KUMA_USERNAME=mykumausername
KUMA_PASSWORD=mykumapassword
KUMA_API_KEY=mykumaapikey
KUMA_2FA_SECRET=2fa-secret-key
